$primary :  rgb(0, 35, 101);
$secondary : rgb(65, 105, 226);

.login-page {
    background-image: url("https://wallpaperaccess.com/full/2033843.jpg");
    background-size: contain;
    align-items: center;
    text-align: center;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    margin: 0px !important;

    overflow-y: auto;
    overflow-x: hidden;

    label {
        font-weight: 500;
    }

    .form-group {
        margin: 1em;
    }

    h2 {
        margin: 1em;
        align-self: center;
        text-align: center;
        color:$primary;
    }

    .form-group-submit {
        text-align: center;
        align-items: center;

        margin-top: 2.5em;
        .btn {
            background-color: $primary;
            border: none;
        }
    }

    .signup-prompt {
        text-align: center;
    }

    .alternate-signin .list-group{
        justify-content: center ;
        .list-group-item {
            border: none ;
            padding: 1em;
        }

        .list-group-item:hover {
            background-color: rgb(218, 209, 209);
        }
    }

    i{
        height: 2em;
    }

    .signup-prompt {
        margin-top: 2.5em;
    }
    
}

Card {
    display: block;
}

